body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    position: sticky;
}
.nav-logo{
    width: 100px;
    height: 40px;
}

.nav-link{
    float:left;
    margin-right: 30px;
}

.welcome{
    font-family: 'Poppins', sans-serif;
    color: #ffa500;
}

.h1{font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    padding-bottom: 10px;
}

.pera{
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn{
    background-color:orange;
    color: black;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color:black ;
}

.half-width{width: 49%;
    float: left;
    margin-left: 3px;
    padding-left: 1px;}


.half-width img{
    width: 100%;
}

.image{
    width: 200px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    float: right;
}

.work{
    text-align: center;
    margin-top: 750px;
}



.work-btn{
    background-image: linear-gradient(45deg, orange, rgb(243, 173, 42));
    margin-left: 44%;
    padding: 4px 80px;
    margin-bottom: 50px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
}

.card{
    border: none;
    box-shadow: 5px 2px 20px rgb(34, 32, 32);
    border-radius: 20px;
    padding-bottom: 30px;
}

.card-body{
    text-align: center;
}

.about-me{
    text-align: center;
    padding-top: 80px;
}

.about-me-btn{
    background-image: linear-gradient(45deg, orange, rgb(243, 173, 42));
    margin-left: 44%;
    padding: 4px 80px;
    margin-bottom: 50px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
}

.about-pic{
    width:440px;
    height: 600px;
}

.holf-width{
    width: 40%;
    float: left;
    margin-left: 3px;
    padding-left: 1px;
}

.holf{
    font-size: 20px;
    padding-top: 100px;
    
}

.contacts{
    text-align: center;
    padding-top: 250px;
}

.contacts-btn{
    background-image: linear-gradient(45deg, orange, rgb(243, 173, 42));
    margin-left: 45%;
    padding: 4px 80px;
    margin-bottom: 50px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
}

.footer{
    background-color: orange;
    text-align: center;
    padding-top: 30px;
}

.peragraph{
    padding: 20px;
    text-align: center;
}

